@model Mini_Project_Assignment_Y2S2.Models.User

@{
    ViewData["Title"] = "My Account";
}
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />

<div class="container">
    <div class="login-card">
        <a class="back" href="@Url.Action("Index", "Home")">Back</a>

        <div class="login-title">My Account</div>

        <div class="profile-image">
            <img src="@(string.IsNullOrEmpty(Model.ProfileImageUrl)
                         ? Url.Content("~/images/default-profile.png")
                         : Model.ProfileImageUrl)"
                 alt="Profile" />
        </div>


        <form>
            <label>ID</label>
            <input type="text" value="@Model.UserID" readonly />

            <label>Name</label>
            <input type="text" value="@Model.Name" readonly />

            <label>Email</label>
            <input type="email" value="@Model.Email" readonly />

            <label>Phone Number</label>
            <input type="text" value="@Model.PhoneNumber" readonly />

            <div class="button-row">
                <button type="button" onclick="location.href='@Url.Action("EditProfile")'" class="btn-cancel">Edit Profile</button>
                <button type="button" onclick="location.href='@Url.Action("ChangeCurrentPassword")'" class="btn-change">Change Password</button>
            </div>
        </form>

    </div>
</div>
