@model List<Mini_Project_Assignment_Y2S2.Models.Item>
@{
    ViewData["Title"] = "Home Page";
    string currentCategory = Context.Session.GetString("CurrentCategory") ?? "LOSTITEM";

}

@if (TempData["Error"] != null)
{
    <p id="tempdata" class="tempdata">@TempData["Error"]</p>
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>

<body>
    <div class="parent">
        <div class="left-container">
            <div class="filter-container">
                <h1>Filter</h1>
                <p>Tips:you may click the orange color to do next action </p>
            </div>
            
            <div class="line"></div>
            
            <div class="location">
                <span>Location:  </span>
                <select class="locationInput" id="location">
                    <option value=""></option>
                    @{
                        var locations = Model
                        .Where(i => !string.IsNullOrEmpty(i.LocationID))
                        .Select(i => i.LocationID)
                        .Distinct()
                        .ToList() ?? new List<string>();
                    }
                    @foreach (var loc in locations)
                    {
                        <option value="@loc">@loc</option>
                    }
                </select>
            </div>

            <div class="line"></div>
            <div class="dateContainer">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" min="@ViewData["MinDate"]" max="@ViewData["MaxDate"]">
                <p>↓</p>
                <label for="endDate" >End Date:  </label>
                <input type="date" id="endDate" min="@ViewData["MinDate"]" max="@ViewData["MaxDate"]">
            </div>
            <div class="line"></div>


            <div class="filter-button">
                <button id="filter">Filter</button>
            </div>

        </div>


        <div class="middle-line"></div>

        <div class="right-container">
            <div class="right-container-top">

                <div class="typeOfItem">
                    @if (currentCategory == "LOSTITEM")
                    {
                        <button id="foundButton" value="LOSTITEM" class="active">Lost</button>
                        <button class="buttonA">/</button>
                        <button id="postButton" value="FOUNDITEM">Found</button>
                    }
                    else
                    {
                        <button id="foundButton" value="FOUNDITEM">Found</button>
                        <button class="buttonA">/</button>
                        <button id="postButton" value="LOSTITEM" class="active">Lost</button>
                    }
                </div>
                <hr />
            </div>

            <div class="right-container-bottom">
                <div class="cardparent">
                    @await Html.PartialAsync("_ItemCard", (List<Mini_Project_Assignment_Y2S2.Models.Item>)Model)
                </div>



            </div>
                <div class="paging">
                    <button id="pagingBack">< Back</button>
                    <button class="pagingNumber">1</button>
                    <button id="pagingNext">Next ></button>
                </div>
            
        </div>





    </div>
    <script src="~/js/index.js" asp-append-version="true"> </script>
</body>
